---
github_user: ""
github_token: ""
dockerhub_user: ""
dockerhub_token: ""
snyk_token: ""
sonarqube_token: ""

# Jenkins CI security reports (separate bots)

## Trivy
trivy_telegram_bot_token: ""
trivy_telegram_chat_id: ""

## Snyk
snyk_telegram_bot_token: ""
snyk_telegram_chat_id: ""
